<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dueños</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>Dueños</h1>
        <table id="ownersTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                    <th>Identificación</th>
                    <th>Dirección</th>
                </tr>
            </thead>
            <tbody>
                <!-- -->
            </tbody>
        </table>
        <a href="/" class="button">Volver al Menú</a>
    </div>
    <script src="scripts/owners.js"></script>
</body>
</html>

