<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Propiedades</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>Propiedades</h1>
        <table id="propertiesTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tipo de Propiedad</th>
                    <th>Propietario</th>
                    <th>Número</th>
                    <th>Dirección</th>
                    <th>Área</th>
                    <th>Área de Construcción</th>
                </tr>
            </thead>
            <tbody>
                <!-- -->
            </tbody>
        </table>
        <a href="/" class="button">Volver al Menú</a>
    </div>
    <script src="scripts/properties.js"></script>
</body>
</html>

