<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tipos de Propiedad</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>Tipos de Propiedad</h1>
        <div class="action-buttons">
            <button id="createButton" class="action-button">Crear</button>
            <button id="editButton" class="action-button" disabled>Editar</button>
            <button id="deleteButton" class="action-button" disabled>Eliminar</button>
        </div>
        <div class="content">
            <div class="table-container">
                <table id="propertyTypesTable">
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th>ID</th>
                            <th>Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

        <a href="/" class="button">Volver al Menú</a>
    </div>

    <script src="scripts/propertyTypes.js"></script>
</body>
</html>
